.contacts {
  padding: 100px 0 150px;
}

.contacts__title {
  margin-bottom: 20px !important;
}

.contacts__text {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 50px;
}

.contacts__form {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__input {
  width: 270px;
  padding: 18px 20px;
  display: inline-block;
  border: 1px solid #0056b3;
  margin-bottom: 40px;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #151515;
  opacity: 0.5;
}

.form__textarea {
  width: 100%;
  margin-bottom: 40px;
  padding: 28px 20px;
  height: 298px;
  resize: none;
  border: 1px solid #0056b3;
}

.form__btn {
  margin: 0 auto;
  width: 184px;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__btn:hover {
  background-color: #003f80;
}

.blog {
  padding-bottom: 150px;
}

.blog__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.blog__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-item__img {
  margin-bottom: 30px;
  width: 100%;
}

.blog-item__title {
  flex-basis: 446px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #151515;
}

.blog-tiem__link {
  font-weight: 400;
  font-size: 16px;
  color: #fff;

  background-color: #06f;
  padding: 4px 10px;
  width: 80px;
  height: 29px;

  text-align: center;

  margin-bottom: 85px;
}

.blog__btn {
  display: block;
  text-transform: uppercase;

  margin: 0 auto;
  width: 223px;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blog__btn:hover {
  background-color: #003f80;
}
